body {
    font-family: 'Work Sans', "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    background-color: #333;
    margin: 0;
    font-weight: 100;
}



h1, h2, h3 {
    font-weight: 500;
    color: #999;
    text-transform: uppercase;
    font-size: .9rem;
  
}



p {
    color: #FFF;
    letter-spacing: .03rem;
    font-size: .9rem;
}


a {
    color: #e9e9e9;
    text-decoration: none;
    font-family: 'Work Sans', "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: .8rem;
}

#nav {
    background-color: rgba(0,0,0,.8);
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 2000;
}

#nav .navbar {
    display: inline-block;
}

#nav .top-nav {
    float: left;
}

#nav .top-nav a {
    color: #999;
    padding: 18px 12px;
    font-weight: 300;
    line-height: 56px;
}

#nav .top-nav a:hover {
    background-color: rgba(33,33,33, .8);
}

#nav  .logo {
    float: left;

}
#nav .logo a img {
    max-height: 40px;
    padding: 8px 0;
}


#header {
    position: relative;
}

#header video.player {
    width: 100%;
}

#header .video-filter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+0,0.81+100 */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.81) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.81))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.81) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.81) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.81) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.81) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cf000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#header .video-logo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#header .video-logo #logo {
    width: 25%;
    margin: 0 auto;
}

.content {
    max-width: 90%;
    margin: 0 auto;
    padding: 30px 0;
}




.content .title {
    width: 16%;
    float: left;
    margin: 0;
}

#about .copy {
    max-width: 80%;
    float: left;
    width: 60%;
    padding-right: 1rem;

}


#about .copy p {
    border-left: 1px solid #555;
    padding : 3px 7px;
    line-height: 2rem;
    margin: 0 auto;

    
}

#about .contact {
    width: 20%;
    float: left;
    letter-spacing: 1px;
}

#about .contact ul {
    margin: 8px 0;
    padding: 0 .3rem;
}

#about .contact ul li {
    font-weight: 100;
    list-style-type: none;
    color: rgba(255,255,255, .6);
    margin: 8px 0;
    font-size: .7rem;
}



.wrealestate {
    padding: 8px;
    margin: 0 20px 0 0;
}

.wrealestate img {
    border: 1px solid rgba(255,255,255,.2);
    padding: 6px;

}

.wrealestate p {
    line-height: 22px;
    padding: 6px;
    margin: 0;
}

.wrealestate div.contact a {
    color: #999;
}

.wrealestate div.contact a:hover {
    color: #ccc;
}

.wrealestate div.contact {
    color: #999;
    text-align: center;
    font-size: .8rem;
    font-weight: 100;
}

#listing {
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    
}

#listing .copy {
    float: left;
    width: 75%;
    margin-left: 1rem;
}

#listing h4 {
    text-transform: none;

    font-size: 2.4rem;
    font-weight: 100;
    color: #999;
    margin: 1rem;
}



#listing .copy p {
    padding: 0 0 0 12px;
    line-height: 1.8rem;
    color: #fff;
}

#listing .listing-video {
    float: right;
    max-width: 300px;
    padding: 14px;
    border: 1px solid rgba(200,200,200,.1);
    margin: 0 0 0 12px;
}


#social {
    background-color: rgba(0,0,0,.2);
    margin-bottom: 30px ;
    padding-top: 20px;
}

#social .social-title {
    text-transform: uppercase;

    font-family: 'Work Sans', "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin: 0 6px 20px 12px;
}

/*

Should probably have something more like this

http://codepen.io/bradfrost/pen/xkcBn
*/

#social-photos .insta {
    float: left;
    width: 20%;
    min-height: 100px;
    min-width: 100px;
    text-align: center;
    margin: 0 0 12px 0;
}

#social-photos .insta img {

    width: 80%;
    border: 4px solid #555;
    -moz-box-shadow:     2px 2px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow:  2px 2px 5px rgba(0, 0, 0, 0.4);
    box-shadow:          2px 2px 5px rgba(0, 0, 0, 0.4);
}

#social-photos .insta .cover {

}

/*-----------------svg animation-----------------*/

.signature {
    margin: 100% 100%;
    width: 100%;
    height: 100%;

}



.signature {
  cursor: pointer;
}

.signature-stroke{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 6;
  
  animation: writing 3s linear forwards 3s;
}




@keyframes writing {
  0% {
    stroke-dashoffset: 1000;
  }
  45% {
    stroke-width: 5;
  }
  65% {
    stroke-width: 15;
  }
  90% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 30;

  }
}



/*--------------vendor list------------*/

table {
    width:60%;
    margin:auto;
    background-color: linen;
    font-size: .9em;

 }

#tablelogo {
    margin: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 5px;
    padding-left: 20px;
    text-align: left;
}



.specialty {
    color: black;
    background-color: #999;
    text-align: left;
    padding-left: 10px;
}

caption {
    color: linen;
    font-size: 1.6em;
    padding-bottom: 1em;

}

th  {
    text-align: center;
    background-color: #BCBA8E;
    color: black;
    padding: 5px;
}

/*-------------Get In Touch Form------------*/

label {
    font-weight: 300;
   }

.contact-form {
    color: #999;
    background-color: rgba(0,0,0,.2);
    height: 28rem;

}

input, #contactMessage {
    width: 80%;
    height: 30px;
    margin: 14px 20px;
    color: #fff;
    background-color: rgba(0,0,0,.2);
    border:0;
    outline: none;
}
fieldset {
    height: 85%;
    border: 0;
}

#contactMessage {
    height: 3rem;
}

.submit {
    margin: auto;
    letter-spacing: 4px;
    display: block;
    cursor: pointer;
    color: #fff;
    background: #000;
    padding: 20px 28px;
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

#social-icons {
    margin: 0 10px 0 0;
    float: right;
}

ul.social-icons li {
    display: inline-block;
    list-style-type: none;

}

ul.social-icons li a:hover {
    color: rgba(255,255,255,0.3);
}

/*--------------footer------------*/


#footer .footer-col .wteam {
    width: 100%;
}

#footer .footer-col {
    width: 50%;
    float: left;
    /*font-size: .7rem;*/
}

#footer .footer-col h3 {
    color: #ccc;
    font-weight: 100;
}

#footer .footer-col p {
    color: #fff;
    font-weight: 100;
}

.footer-info {
    font-family: 'Work Sans', "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: .6rem;
    letter-spacing: 2px;
    background-color: #000;
    color: #ccc;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-top: 10px;
    text-align: center;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */